<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="Worker.Index" value="--person--" />
            <input type="hidden" name="Workers[--person--].IdPerson" value="--number--" />
       
            --name--
        </td>
        <td class="text-center col-sm-1">
            <input name="Workers[--person--].Salary" class="form-control" value="--salary--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Workers[--person--].Time" class="form-control" value="--time--" />
        </td>
        <td class="text-right col-sm-3">
            <input type="hidden" name="Workers[--person--].IdPersonNavigation.FirstName" value="--firstname--" />
            --firstname--
        </td>
        <td class="text-right col-sm-3">
            <input type="hidden" name="Workers[--person--].IdPersonNavigation.LastName" value="--lastname--" />
            --lastname--
        </td>
        <td class="text-center col-sm-1">
            <input name="Workers[--person--].IdPersonNavigation.Number" class="form-control" value="--number--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Workers[--person--].IdPersonNavigation.Mail" class="form-control" value="--mail--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Workers[--person--].IdPersonNavigation.Adresse" class="form-control" value="--adresse--" />
        </td>
        
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fas fa-minus"></i></button>
        </td>
    </tr>
</table>