@{
    ViewData["Title"] = "Reports";
}


<ul>
    <li>
        <a target="_blank" asp-action="Plotonly">Plots</a>
    </li>
    <li>
        <a target="_blank" asp-action="PlotExcel">Plots (Excel type)</a>
    </li>

    <li>
        <a target="_blank" asp-action="PlotExcelMD">Plots MD(Excel type)</a>
    </li>
    <li>
        <a target="_blank" asp-action="Plantonly">Plants</a>
    </li>
    <li>
        <a target="_blank" asp-action="PlantExcel">Plants (Excel type)</a>
    </li>
    <li>
        <a target="_blank" asp-action="PlantExcelMD">Plants MD(Excel type)</a>
    </li>
    <li>
        <a target="_blank" asp-action="Harvestonly">Harvests</a>
    </li>
    <li>
        <a target="_blank" asp-action="HarvestExcel">Harvests (Excel type)</a>
    </li>
    <li>
        <a target="_blank" asp-action="HarvestExcelMD">Harvest MD (Excel type)</a>
    </li>

    <li>
        <a target="_blank" asp-action="Knowncustomeronly">Known Customer</a>
    </li>
    <li>
        <a target="_blank" asp-action="KnowncustomerExcel">Known Customer (Excel type)</a>
    </li>
    <li>
        <a target="_blank" asp-action="KnowncustomerExcelMD">Known Customer MD (Excel type)</a>
    </li>
    <li>
        <a target="_blank" asp-action="Saleonly">Sales</a>
    </li>
    <li>
        <a target="_blank" asp-action="SaleExcel">Sales (Excel type)</a>
    </li>
    <li>
        <a target="_blank" asp-action="SaleExcelMD">Sale MD (Excel type)</a>
    </li>
    <li>
        <a target="_blank" asp-action="Requestonly">Requests</a>
    </li>
    <li>
        <a target="_blank" asp-action="RequestExcel">Requests (Excel type)</a> <br/> <a>Please, for the Request MD, try to add a request first. Thank you.</a>
    </li>
    <li>
        <a target="_blank" asp-action="Plot">10 first plots(Not working)</a>
    </li>
</ul>
